.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    height: 4rem;
    background-color: white;
    border-bottom: 2px solid var(--color-line);
}
