.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    padding: 0.7rem 3rem;
    background-color: white;
    border-bottom: 2px solid var(--color-line);
    z-index: 9999;
}